
/* universal selector */
/* *{
    margin: 0;
    padding: 0;
} */

/* element selector */
body{
    background-color: black;
    color: wheat;
}

/* id selector */
#para{
    color: aqua;
}

/* class selector */
.myclass{
    color: blue;
}

/* color property */
 /* using name */
 #myid{
    color: aqua;
 }

 /* using rgb(red, green, blue) */
 button{
    color: rgb(22, 00,155);
 }

 /* using HEX(hexadecimal) */
 h4{
    background-color: #00ff0f;
    opacity: 0.7;  
    color: #000000;
 }

 /* background image */
 body{
    background-image: url(images/bird.webp);
    background-repeat: no-repeat;
    background-position: right;
    /* background-attachment: fixed;  */
    background-attachment: scroll;
 }

 

