/* border property  */

h2 {
    border-width: 3px;
    border-style: double;
    border-color: aqua;
    border-radius: 5px;
    border: 3px solid black;

}


/* Margin property */
/* p{
    border: 2px solid red;
    margin: 100px;
} */


/* padding property */
/* #para1{ 
     padding: 20px; 
    shorthand 
     padding: 10px 10px 10px 250px;  
} */


/* height & width property */
#para2 {
    height: 150px;
    width: 200px;
    text-decoration: overline;
}

button {
    height: 30;
    width: 90px;
}


/* section{
    height: 100vh;
    width: auto;
}

#first{
    background-image: url(images/bird.webp);
    background-size: cover;
    background-attachment: fixed;
}

#second{
    background-image: url(images/Stormy.jpg);
    background-size: cover;
    background-attachment: fixed;
} */



/* font property */
body {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
}


/* text property */
#para1 {
    height: 100px;
    color: bisque;
    background-color: black;
    text-align: center;
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 50px; /* this property apply on first line */
    line-height: 30px; 
}

#para3 {
    /* text-shadow: 2px 2px red ; */
}

h3{
    color: white;
    text-shadow: 2px 2px 4px #000000;
            /* horizontal, vertical, blur , color */
}