*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#inner-box{
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 30px;
    border-top: 2px solid red;
    transition: all 1s linear;
    
}

#inner-box:hover{
    background-color: red;
    color: white;
    padding: 10px;
    border-top: 5px solid rgb(104, 184, 14);
    border-radius: 5px;
    padding: 20px;

}



