

body {
    background-color: black;
    color: white;
}

.search-bar {
    background-color: rgb(42, 42, 42);
}

#form-input {
    background-color: rgb(42, 42, 42);
    color: gray;
}

.home-btn {
    background-color: rgb(42, 42, 42);
    color: rgb(228, 228, 228);
}

.home-nav {
    width: 60%;
    display: flex;
    justify-content: end;
}

.btn-nav {
    width: 40%;
    display: flex;
    justify-content: end;
}

@media only screen and (max-width:500px) {
    .home-nav {
        width: auto !important;
    }

    .btn-nav {
        width: 100% !important;
        justify-content: center !important;
    }
}

@media only screen and (min-width:770px) and (max-width:991px) {
    .home-search-btn {
        display: flex;
        flex-direction: column !important;
    }
}



.full-input {
    width: 100%;
}

#form-input {
    border: none;
    outline: none;
}

.Main {
    height: 98vh;
}

#left,
#right {
    padding: 15px;
}

.img-card img {
    position: relative;
}


.footer-link {
    display: block;
    margin-bottom: 5px;
    color: lightgray;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.spotify-card .card {
    background-color: rgb(31, 31, 31);
}

#left {
    background-color: rgb(18, 18, 18);
}

#right {
    background-color: rgb(18, 18, 18);
}

section {
    height: 86.5vh;
}

.spotify-card {
    height: 12.5rem;
}

@media only screen and (max-width: 768px) {

    #left,
    #right {
        padding: 0.5rem;
    }

    .img-card {
        text-align: center;
    }

    .navbar .d-flex {
        flex-direction: column;
        gap: 10px;
    }

    footer {
        flex-direction: row;
        gap: 20px;
    }

    #left {
        display: none;
    }

    #right {
        width: 100vh;
    }

}

@media only screen and (max-width: 576px) {
    .spotify-card {
        max-height: 200px;
    }

    footer div {
        text-align: center;
    }

}

@media only screen and (min-width:768px) and (max-width:998px) {
    .home-nav {
        width: 42%;
    }

    .btn-nav {
        width: 22%;
    }
}